
/* 新加的 */
.portlet-title .tools > a.remove1 {
  background-image:url(../img/portlet-remove-icon.png);
  background-repeat: no-repeat;
  width: 11px;
}

.portlet.box .portlet-title .tools > a.remove1, 
.portlet.solid .portlet-title .tools > a.remove1 {
  background-image:url(../img/portlet-remove-icon-white.png);
}

/* .table-hover tbody tr:hover > td,
.table-hover tbody tr:hover > th {
  background-color: #35aa47;
  color: white;
  cursor: pointer;
} */

.queryForm{
	margin: 0 0;
}

.selectedTr td{
	background-color: #35aa47 !important;
	color: white;
}

.input-append .add-on > .halflings-icon
.input-append .add-on > i, .input-append .add-on > [class^="icon-"]{
 	margin-top: 10px
 }
 
/* 调低导航与内容的距离 */
.page-content .breadcrumb{
	margin-bottom: 10px;
}
.breadcrumb{
	margin: 0 0 10px;
}

.table th, .table td{
	padding: 5px;
}

/* 增加树状被选中样式 */
.tree a.selected{
	text-decoration: none;
	background-color: rgb(28, 243, 183);
}

/* 定义i图标的按钮样式 */
i.ibtn{
	cursor: pointer;
}